/********************** Top-Level Rules **********************/

/* Theme Properties */
:root {
    --main-bg-color: azure;
    --secondary-bg-color: #e4f2f7;

    --h1-font-size: 18pt;
    --h2-font-size: 16pt;
    --p-font-size: 12pt;

    --dark-font-color: #191531;
    --font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        Verdana,
        sans-serif;
}

body {
    margin: 0px;
}

html {
    font-family: var(--font-family);
    color: var(--dark-font-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: var(--main-bg-color);
}

h1 {
    margin: 0px;

    font-size: var(--h1-font-size);
}

h2 {
    margin: 0px;

    font-size: var(--h2-font-size);
}

p {
    margin: 0px;

    font-size: var(--p-font-size);
}

/************************** Navbar ***************************/

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--dark-font-color);
}

#left-navbar-items {
    display: flex;
}

.navbar-item,
.navbar-item:visited {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 50px;

    height: 100px;

    font-size: 18pt;
    font-weight: bold;
    color: var(--dark-font-color);

    text-decoration: none;
    scroll-behavior: smooth;
}

.navbar-item:hover {
    background-color: var(--secondary-bg-color);
}

#navbar-title {
    font-size: 18pt;

    font-weight: bold;
}

#repo-link-frame {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
}

#repo-link {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    clip-path: circle(50%);

    width: 50px;
}

#repo-link img {
    width: 50px;
}

#repo-link:hover {
    background-color: var(--secondary-bg-color);
}

/*********************** Page Content ************************/

.content-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding: 50px;
}

/* Tagline Content */

#call-to-action {
    font-size: 16pt;
}

/* Team Content */

#Team ul {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 0px;

    padding: 0px;
}

#Team ul li {
    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 5px;

    padding: 20px;

    background-color: var(--secondary-bg-color);
}

.team-profile-pic {
    border-radius: 50%;

    width: 100px;
    height: 100px;

    background-color: lightgray;
}

#project-partner-frame {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 5px;

    padding: 20px;

    background-color: var(--secondary-bg-color);
}